TWENTY_API_URL=https://tu-api.tudominio.com/rest
TWENTY_API_KEY=tu_api_key_secreta_de_twenty

# Firebase configuration
FIREBASE_PROJECT_ID=tubini-4e3f0
FIREBASE_CLIENT_EMAIL=your-email@example.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
TWENTY_WEBHOOK_SECRET=your_webhook_secret